{% extends "layout.html" %}

{% block title %}New event{% endblock %}

{% block content %}
<h2>New event</h2>
<div class="info">
{% for message in get_flashed_messages() %}
<p><b>{{ message }}</b></p>
{% endfor %}
</div>
<form action="/add_event" method="post">
    <p>
        <label for="event_name">Event:</label> <br />
        <input type="text" name="event_name" id="event_name" maxlength="50" required/>
    </p>
    <p>
        <label for="date_time">Date and time:</label> <br />
    <input type="datetime-local" name="date_time" id="date_time" min="{{cur_date}}" required/>
    </p>
    <p>
        <label for="description">Description:</label> <br />
        <textarea name="description" id="description" rows="8" cols="30" maxlength="1000" required></textarea>
    </p>
    {% for class in classes %}
    <p>
        <label for="class{{class}}">{{class}}:</label> <br />
        <select name="classes" id="class{{class}}">
            <option value="">(choose)</option>
        {% for option in classes[class] %}
            <option value="{{class}}:{{option}}">{{option}}</option>
        {% endfor %}
        </select>
    </p>
    {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Add event" />
</form>
{% endblock %}